MYSQL_ROOT_PASSWORD="1234"
MYSQL_DATABASE="junta_directiva"
MYSQL_USER="admin"
MYSQL_PASSWORD="1234"

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD= # tu contraseña persona para el .env real
DB_NAME=junta_directiva

JWT_SECRET_KEY= # tu clave secreta para el JWT